<div class="row" *ngFor="let session of sessions">
    <div class="col-md-1">
        <upvote *ngIf="userIsAuthenticated()" [count]="session.voters.length" [voted]="userHasVoted(session)" (vote)="toggleVote(session)"></upvote>
    </div>
    <div [ngClass]="{ 'col-md-11': userIsAuthenticated(), 'col-md-12': !userIsAuthenticated }">
        <div class="well">
            <collapsible-well>
                <div well-title>
                    {{ session.name }}
                    <i *ngIf="session.voters.length > 3" class="glyphicon glyphicon-fire" style="color: red; float: right"></i>
                </div>
                <div well-body>
                    <h6>{{session.presenter}}</h6>
                    <span>Duration: {{session.duration | duration }}</span><br />
                    <span>Level: {{session.level}}</span>
                    <p>{{session.abstract}}</p>
                </div>
                
            </collapsible-well>
        </div>
    </div>
</div>